<h1><%= currentUser.firstName %>'s Profile</h1>

<div class="row">
    <div class="col s4">
        <img src="<%=currentUser.pic%>" alt="profile pic">
    </div>
</div>
<div>
    <p><strong>Name:</strong><%= currentUser.firstName %><%= currentUser.lastName %></p>
    <p><strong>Birthday:</strong><%= moment(currentUser.birthday).format('MMM Do[,] YYYY') %></p>
    <p><strong>Account Created On:</strong><%=moment(currentUser.createdAt).format('MMM Do[,] YYYY') %></p>
    <p><%= currentUser.bio %></p>
</div>