<h1><%= post.headline %></h1>
<p><%= post.content %></p>
<p><%=post.user.username%></p>


<div class="comments">
    <h4>Comments</h4>
    <% post.comments.forEach(c => { %>
        <%= c.content %>
        -<%=post.user.username%>
    <% }) %>
</div>

<form method="POST" action="comments">
    <p>Comment on this post</p>
    <textarea name="content" id="content"></textarea>
    <input type="hidden" name="userId" value="<%=post.user.id%>">
    <input type="hidden" name="postId" id="postId" value="<%=post.id%>">
    <button type="submit">Submit</button>
    </form>



